.bombView{
    width: 100vw;
    height: 100vh;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    background: radial-gradient( rgba(83, 83, 83), rgba(14, 12, 12), rgba(109, 109, 109)); 
}

.bombFrame{
    width: 80vw;
    height: 80vh;
    margin: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    background: rgba(104, 104, 104, 0.904);
    border: 30px dashed rgba(129, 38, 2, 0.568);
    border-radius: 30px 30px 0px 0px;
    border-bottom: 30px groove rgba(66, 63, 63);
    border-top: 30px ridge rgba(66, 63, 63);
}

.bombMod{
    width: 30%;
    height: 43%;
    margin: 10px;
    background: slategray;
    
}

.timer {
    
    display: flex;
	align-items: flex-end;
    justify-content: space-between;
    width: 70vw;
    height: 10vh;
    right: 10%;
    top: 5%;
    margin: 0;
}
.Time {
    display: flex;
	align-items: center;
    justify-content: center;
    font-size: 2.5vw;
    color: red;
    background: radial-gradient(rgba(8, 0, 0), rgba(26, 0, 0), rgba(136, 2, 2)); 
    width: 65%;
    height: 70%;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 1px 3px white ;
    border-radius: 10px;
}
.strikeCount{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 2.5vw;
    color: red;
    background: radial-gradient(rgba(8, 0, 0), rgba(26, 0, 0), rgba(136, 2, 2)); 
    width: 65%;
    height: 70%;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 1px 3px white ;
    border-radius: 10px;
    letter-spacing: 5px;
} 
.strike-div {
    width: 20%;
    height: 100%;
    display: flex;
	align-items: center;
    justify-content: center;
    border: 3px solid  rgba(88, 88, 88);
    border-bottom: none;
    -webkit-clip-path: polygon(88% 0, 100% 18%, 100% 100%, 0 100%, 0 18%, 12% 0);
    clip-path: polygon(88% 0, 100% 18%, 100% 100%, 0 100%, 0 18%, 12% 0);
    background: radial-gradient( black, rgba(53, 51, 51) 20%, rgba(53, 51, 51) 40%, black );
}
.timer-div {
    width: 20%;
    height: 100%;
    display: flex;
	align-items: center;
    justify-content: center;
    background-color: rgba(53, 51, 51);
    border: 3px solid  rgba(88, 88, 88);
    border-bottom: none;
    -webkit-clip-path: polygon(88% 0, 100% 18%, 100% 100%, 0 100%, 0 18%, 12% 0);
    clip-path: polygon(88% 0, 100% 18%, 100% 100%, 0 100%, 0 18%, 12% 0);
    background: radial-gradient( black, rgba(53, 51, 51) 20%, rgba(53, 51, 51) 40%, black );
}
.top-boxes {
   
    width: 20%;
    height: 30%;
    border: none;
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(65% 0, 70% 10%, 70% 35%, 100% 35%, 100% 100%, 0 100%, 0 35%, 30% 35%, 30% 10%, 35% 0);
    background: linear-gradient( rgba(218, 108, 6) 30%, rgba(218, 108, 6) 30%, rgba(1, 43, 3) 40% );
}
.top-wires-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    width: 30%;
    height: 7%;
    align-self: flex-start;
    left: 35%;
    
}
.top-wires1 {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 100%, 90% 100%, 90% 85%, 10% 85%, 10% 100%, 0 100%);
    width: 49.5%;
    height: 90%;
    background: rgba(105, 0, 0);
}
.top-wires2 {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 100%, 90% 100%, 90% 85%, 10% 85%, 10% 100%, 0 100%);
    width: 49.5%;
    height: 90%;
    background-color: rgba(15, 46, 104);
    
}
.back-btn {
    position: fixed;
    top: 1em;
    left: 1em;
    height: 55px;
    width: 55px;
    text-align: center;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border: 4px solid rgba(0, 0, 0, .4);
    background: none;
    transition: .5s;
    color: rgba(0, 0, 0, .4);
}

.back-btn:hover {
    width: 60px;
    height: 60px;
}
