.backgroundContainer {
    position: fixed;
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(238, 236, 236, 0.6);
}

.successContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 55%;
    background-color: #ffffff;
    border-radius: 15px;
    border: 5px solid #9d9d9d;
}

.successContainer p {
    font-size: 20px;
}

.rainbow {
    height: 250px;
    width: 400px;
    background: url('../../Images/rainbow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 300px;
}

.linksContainer a {
    text-decoration: none;
    color: #000000;
  }

.background {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 130px;
    background: rgb(245,0,0);
    background: linear-gradient(135deg, rgba(245,0,0,1) 0%, rgba(255,115,0,1) 16%, rgba(224,255,0,1) 34%, rgba(0,255,59,1) 52%, rgba(16,0,255,1) 71%, rgba(55,0,136,1) 86%, rgba(201,0,255,1) 100%);
}

.link {
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    background-color: #ffffff;
}