.bomb-module-1{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
<<<<<<< HEAD:code-or-explode/src/Components/BombFrame/BombModules/BombModule1.css
}

=======
}
>>>>>>> master:code-or-explode/src/Components/BombModules/Module1/Module1.css
