* {
  box-sizing: border-box;
}



.junk {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

button:focus {
    outline:  none;
}

button:active {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 15px;
  }

  /* Corner where the X and Y Scroll meet */
  ::-webkit-scrollbar-corner {
    background: none;
}