.editorWrapper {
    height: 80%;
    width: 35%;
    background-color: #ffffff;
    border: 10px solid #EB2F2F;
    border-radius: 15px;
    box-shadow: 10px 10px 7px rgba(0, 0 , 0, 0.3);
}

.keyInputContainer {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 10px solid #EB2F2F;
}

.keyInput {
    font-size: 24px;
    text-align: center;
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5px;
    background: none;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    border-top: 10px solid #EB2F2F;
}

.results h1 {
    font-weight: 300;
    position: relative;
    top: -25px;
    text-align: center;
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0px;
}

.submitCode {
    position: relative;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    top: -30px;
    height: 50px;
    width: 100px;
    border: 5px solid #EB2F2F;
    border-radius: 15px;
    cursor: pointer;
}

.submitCode:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0 , 0, 0.3)
}